@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --yellow-light: #F3B600;
  --yellow-dark: #FFA800;
  --yellow-extra-dark: #df9602;
}

/* Logo */
.logo-icon{
  height: 3.4rem;
}

.logo-img{
  height: 1.8rem;
}

/* Navbar Links */
.nav-link-current{
  padding-bottom: 0.25rem;
  border-bottom: 2px solid rgb(245 158 11);
}

/* Header */
#header{
  min-height: 500px;
}

#header-content{
  min-height: 450px;
  background: linear-gradient(90deg, rgb(22, 0, 71), black);
}

/* Buttons */
.btn-primary{
  background: linear-gradient(90deg, var(--yellow-extra-dark), var(--yellow-dark));
}

/* Headings */
.heading-line{
  width: 40px;
  height: 6px;
}