@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --yellow-light: #F3B600;
  --yellow-dark: #FFA800;
  --yellow-extra-dark: #ff8800;
}

.brand-gradient{
  background: linear-gradient(90deg, var(--yellow-extra-dark), var(--yellow-light));
}

.team-member-image{
  filter: grayscale(1);
}

.service-box:hover .service-box-arrow{
  opacity: 1;
}

/* Logo */
.logo-icon{
  height: 3.4rem;
}

.logo-img{
  height: 1.8rem;
}

/* Mobile Menu */
#mobile-menu.menu-open{
  left: -270px;
}

/* Navbar Links */
.nav-link-current{
  padding-bottom: 0.25rem;
  border-bottom: 2px solid rgb(245 158 11);
}

#header-content{
  min-height: 450px;
  /* background-color: rgba(0, 0, 0, 0.553); */
  overflow: hidden;
}

/* Header Video */
#homepage-header-video{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -10;
}

#procedure-section, #header, #contact-section{
  /* background: linear-gradient(90deg, rgb(22, 0, 71), black); */ /* Dont remove this line. This was the first header gradient used */
  /* background: linear-gradient(90deg, #003047, black); */
  background: radial-gradient( #003047, black);
 /*  Some gradient color variations. You can use them above
      #2b0047 purple 
      #003047 slate
    */
}

/* Procedure Section */
/* #procedure-section{
  background: linear-gradient(90deg, #2b0047, black);
  background: radial-gradient(#2b0047, black);
} */

.number-badge{
  top: -15px;
  left: -10px;
  padding: 10px;
  /* background-color: #003047; */
  /* background: linear-gradient(135deg,#003047, #041a25, #003047); */
  /* background: linear-gradient(135deg, #184358, #031c2a, #010b11); */
  background: linear-gradient(135deg, #030f15, #031c2a, #010b11);
  box-shadow: -10px -10px 30px #030f15;
}

.number-badge > .wrapper{
  width: 60px;
  height: 60px;
}

/* Buttons */
.btn-primary{
  background: linear-gradient(90deg, var(--yellow-extra-dark), var(--yellow-dark));
}

/* Headings */
.heading-line{
  width: 30px;
  height: 6px;
}