@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  yellow-light: #F3B600;
  yellow-dark: #FFA800;
}

#header{
  min-height: 500px;
}

.logo-icon{
  height: 2.5rem;
}

.logo-img{
  height: 1.8rem;
}

#header-content{
  min-height: 400px;
}